<div class='header'>
  <div class='header-top'>
    <%= link_to 'TimeManagement', root_path, class:'header-logo' %>
    <div class='user-name-wrapper'>
      <div class='user-name'>
        <%= current_user.name %>
      </div>
        <%= link_to 'ログアウト', destroy_user_session_path, method: 'DELETE', class:'logout' %>
    </div>
  </div>
  <div class='header-bottom'>
    <div>
      <%= link_to 'タスクを追加する', {:controller => 'tasks', :action => 'new', board_id:@board.id}, class:'add-task' %>
      <%= link_to 'ボードを削除する', board_path(@board.id), method:'DELETE',data:{confirm:"#{@board.name}を削除します"}, class:'add-task' %>
    </div>
      <div class='board-name'>
        <%= @board.name %>
      </div>
      <div class='board-menu'>
      
        <%= form_with url:boards_path, local:true do |f| %>
          <%= f.text_field :name, placeholder:'ボードを追加する', class:'add-board' %>
          <%= f.submit '追加', class:'mini-btn' %>
        <% end %>
          <%= form_with url:tasks_path, method:'GET', local:true do |f| %>
            <select name='board_id' class='change-board'>
              <option value= <%=@board.id%> > <%= @board.name %> </option>
              <%= @boards.where.not(id:@board.id).each do |board| %>
                  <option value=<%=board.id%>> <%= board.name %> </option>
              <% end %>
            </select>
            <%= f.submit 'ボードを切り替える', class:'mini-btn' %>
          <% end %>
      </div>    
  </div>
</div>