<%= render 'header'%>
<div class='urgency-wrapper'>
  <div class='urgency'>
    緊<br>急<br>度<br><br>高
  </div>
  <div class='main'>
    <div class='urgency'> 重 要 度　　高 </div>
    <div class='inportance1'>
      <div class='urgence1'>
        <% @task.each do |task| %>
          <% if task.inportance == 1 && task.deadline == Date.today %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence2'>
        <% @task.each do |task| %>
          <% if task.inportance == 1 && task.deadline > Date.today && task.deadline <= Date.today + 7 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence3'>
        <% @task.each do |task| %>
          <% if task.inportance == 1 && task.deadline > Date.today + 7 && task.deadline <= Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence4'>
        <% @task.each do |task| %>
          <% if task.inportance == 1 && task.deadline > Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='inportance2'>
      <div class='urgence1'>
        <% @task.each do |task| %>
          <% if task.inportance == 2 && task.deadline == Date.today %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence2'>
        <% @task.each do |task| %>
          <% if task.inportance == 2 && task.deadline > Date.today && task.deadline <= Date.today + 7 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence3'>
        <% @task.each do |task| %>
          <% if task.inportance == 2 && task.deadline > Date.today + 7 && task.deadline <= Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence4'>
        <% @task.each do |task| %>
          <% if task.inportance == 2 && task.deadline > Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='inportance3'>
      <div class='urgence1'>
        <% @task.each do |task| %>
          <% if task.inportance == 3 && task.deadline == Date.today %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence2'>
        <% @task.each do |task| %>
          <% if task.inportance == 3 && task.deadline > Date.today && task.deadline <= Date.today + 7 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence3'>
        <% @task.each do |task| %>
          <% if task.inportance == 3 && task.deadline > Date.today + 7 && task.deadline <= Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence4'>
        <% @task.each do |task| %>
          <% if task.inportance == 3 && task.deadline > Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='inportance4'>
      <div class='urgence1'>
        <% @task.each do |task| %>
          <% if task.inportance == 4 && task.deadline == Date.today %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence2'>
        <% @task.each do |task| %>
          <% if task.inportance == 4 && task.deadline > Date.today && task.deadline <= Date.today + 7 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence3'>
        <% @task.each do |task| %>
          <% if task.inportance == 4 && task.deadline > Date.today + 7 && task.deadline <= Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='urgence4'>
        <% @task.each do |task| %>
          <% if task.inportance == 4 && task.deadline > Date.today + 14 %>
            <div class='task-card', data-id=<%= task.id %> data-check=<%= task.check %> board-id=<%= @board.id %>>
              <%= task.title %> 
              <div class='task-info'>
                <p><%= link_to '編集', {:controller => 'tasks', :action => 'edit', :id => task.id, :board_id => @board.id}, class:'edit-link' %></p>
                <p class='task-info-text'><%= task.text %></p>
                <P>　重要度：
                  <% if task.inportance == 1 %>
                    とても重要
                  <% elsif task.inportance == 2 %>
                    どちらかというと重要
                  <% elsif task.inportance == 3 %>
                    あまり重要でない
                  <% else %>
                    重要でない
                  <% end %>
                </p>
                <p>完了期限：<%= task.deadline %></p>
                <p>所要時間：<%= task.hour %>時間</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='urgency'> 重 要 度　　低 </div>
  </div>
  <div class='urgency'>
    緊<br>急<br>度<br><br>低
  </div>
</div>